.idea
checkpoint
results
.ipynb_checkpoints
*.log
*.npz
data/h36m.zip
data/input_video.mp4


inference/*/*.mp4
!inference/videos/kunkun_cut.mp4
inference/posenet_tf/_models
inference/posenet_pytorch/_models
*.pkl
runs
**/__pycache__